.faq_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.faq_container h1{
    color: #333;
}
.faq_container .tab{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    border-radius:5px ;
    overflow: hidden;

}
.faq_container .tab input{
    appearance: none;
}
.faq_container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.faq_container .tab label::after{
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 2em;
    columns: rgba(0,0,0,0.1);
    transition: transform 1s;
}
.faq_container .tab:hover label::after{
    color: #333;
}
.faq_container .tab input:checked ~ label::after{
    transform: rotate(135deg) ;
    color: #fff;
    visibility: hidden;


}
.faq_container .tab input:checked ~ label h3{
    background: #fff;
    padding: 20px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow:  0px 5px 15px rgba(0,0,0,0.2);
}
.faq_container .tab label h2{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.faq_container .tab label h2{
    background: linear-gradient(135deg,#fd6e6a,#ffc600);
}
.faq_container .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.1);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}

.faq_container .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.faq_container .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.faq_container .tab input:checked ~ .content{
    max-height: 100vh;

}
.faq_container .tab .content p{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}
.faq_container .tab input:checked ~ .content p{
    color: #fff;
}